<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Contratos</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
          <div class="x_title">
            <h2>Contratos</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix">

		</div>
          </div>
          <%= @object.attributes.class %>
          
          
<table class="table table-bordered table-stripped">
                      <thead>
                        <tr>
<% @object.attributes.each do |attr_name, attr_value| %>
                          <th><%= attr_name.camelize %></th>

<% end %>                       
                          
                        </tr>
                      </thead>
                      <tbody>





		<% @result.each do |r| %>
			<tr>
			<% @result.column_names.each do |col| %>
  
				<td><%= r[col] %></td>
			<% end %>


			  <td>
				<a href="/<%=controller_name %>/delete/<%= r.id%>"><span class="fa fa-close" style="cursor:pointer;" alt="Eliminar"/></a>

                                <a href="/<%=controller_name %>/update/<%= r.id%>"><span style='padding-left:15Px;cursor:pointer;' class="fa fa-pencil" alt="Editar"/></a>



			  </td>

		<% end %>                 
			</tr>
                        
                      </tbody>
                    </table>




        </div>
 <div class="row">




      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:300px;">
          <div class="x_title">
            <h2>Nuevo</h2>
            <ul class="nav navbar-right panel_toolbox"></ul>
            <div class="clearfix"></div>
          </div>

<form method="POST" action="/<%=controller_name%>/save">


<% @object.attributes.each do |attr_name, attr_value| %>
	 <% if attr_name != "fecha_baja" and attr_name != "fecha_alta" and attr_name != "estado" %>
		<% if attr_name == "id" %>
			<input type="hidden" name="<%= attr_name %>" value="<%= attr_value %>" />
		<% else %>
<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
   <input class="form-control has-feedback-left" placeholder="<%= attr_name.camelize %>" name="<%= attr_name %>" value="<%= attr_value %>" type="text">
   <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
</div>

		<% end %>
	<% end %>

<% end %>
<div class="col-lg-12 col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
   <input class="btn btn-success" value="Guardar" type="submit">
</div>
</form>




</div>
</div>
</div>
</div>
